/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

@font-face {
    font-family: 'VG5000';
    src:    url('/assets/fonts/VG5000-Regular_web.eot');
    src:    url('/assets/fonts/VG5000-Regular_web.eot?#iefix') format('embedded-opentype'),
            url('/assets/fonts/VG5000-Regular_web.woff') format('woff'),
            url('/assets/fonts/VG5000-Regular_web.woff2') format('woff2'),
            url('/assets/fonts/VG5000-Regular_web.ttf') format('truetype'),
            url('/assets/fonts/VG5000-Regular_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
  font-family: 'VG5000', sans-serif;
}

body{
  background: #16161d;
}

a{
  transition: all 0.3s ease-out;
}

ul li:before{
  content: '\1F573'; 
  margin-left: -20px;
  margin-right: 10px;
}

.text-center{
  text-align: center;
}

#landing{
  z-index: 9999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #acacac;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,16161d+74 */
  background: rgb(0,0,0); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%, rgba(22,22,29,1) 74%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(22,22,29,1) 74%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  rgba(0,0,0,1) 0%,rgba(22,22,29,1) 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#16161d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.loading {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  animation: spin 1s infinite linear;
  margin: 2rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.start-btn{
  background: none;
  border: 2px solid #acacac;
  padding: 0.25rem 2rem;
  color:#fff;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.start-btn:hover{
  background: #acacac;
  color: black;
}

.info-btn {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1.5rem;
  background: none;
  border: none;
}

.info-btn a{
  font-size: 2rem;
  color: #fff;
  display: block;
  text-decoration: none;
}

.info-btn a:hover{
  color: #acacac;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,16161d+74 */
  background: rgb(0,0,0); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%, rgba(22,22,29,1) 74%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(22,22,29,1) 74%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  rgba(0,0,0,1) 0%,rgba(22,22,29,1) 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#16161d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  transition: all 0.5s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.modal {
  margin: 0 auto;
  width: 100%;
  position: relative;
  height: 100vh;
  overflow-y: scroll;
}

.modal .close {
  position: fixed;
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.modal .close:hover {
  color: #acacac;
}

.modal .container{
  max-width: 64em;
  margin: 0 auto;
  padding: 4rem 2rem;
  color: #acacac;
  word-spacing: 1px;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.modal .container a{
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #acacac;
  transition: all 0.3s ease-out;
}

.modal .container a:hover{
  color: #acacac;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #acacac;
}

::-webkit-scrollbar-thumb {
  background: #16161d;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}

@media screen and (max-width: 700px){

}
